<div class="action-button">
  <a class="button solid shaded ripple" href="#!" style="min-width: 200px;">
    <i class="mdi mdi-share-variant"></i> Share
  </a>

  {{! Add intents here. 'intent' class opens popup }}
  {{! data params set popup width and height       }}

  <div class="actions">
    <!-- LinkedIn -->
    <a class="button solid shaded ripple linkedin intent"
      data-width="580"
      height="235"
      href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}">
      <i class="mdi mdi-linkedin"></i> LinkedIn
    </a>
    <!-- Facebook -->
    <a class="button solid shaded ripple facebook intent"
      data-width="580"
      height="235"
      href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}">
      <i class="mdi mdi-facebook"></i> Facebook
    </a>
    <!-- Twitter -->
    <a class="button solid shaded ripple twitter intent"
      data-width="550"
      data-height="235"
      href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}">
      <i class="mdi mdi-twitter"></i> Twitter
    </a>
  </div>
</div>
